<div data-dojo-type="dojox/mobile/RoundRect">
	<div data-dojo-type="dojox/mobile/FormLayout">
		<div>
			<label>Title:</label>
			<fieldset>
				<input type="text" data-dojo-type="dojox/mobile/TextBox" data-dojo-attach-point="titleNode"
					data-dojo-props="disabled: true" />
			</fieldset>
		</div>
		<div>
			<label>Release date:</label>
			<fieldset>
				<input type="text" data-dojo-type="dojox/mobile/TextBox" data-dojo-attach-point="dateNode"
					data-dojo-props="disabled: true" />
			</fieldset>
		</div>
		<div>
			<label>Votes:</label>
			<fieldset>
				<input type="text" data-dojo-type="dojox/mobile/TextBox" data-dojo-attach-point="voteNode"
					data-dojo-props="disabled: true" />
			</fieldset>
		</div>
		<div>
			<label>Popularity:</label>
			<fieldset>
				<input type="text" data-dojo-type="dojox/mobile/TextBox" data-dojo-attach-point="popularityNode"
					data-dojo-props="disabled: true" />
			</fieldset>
		</div>
	</div>
</div>